<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="3" name="All Test Suite" parallel="classes">
    <test verbose="2" preserve-order="true" name="Chrome Automated tests">
       <classes>
           <class name="com.amazon.runner.TestRunner"></class>
       </classes>
    </test>

</suite>